@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@700&family=Montserrat&family=Orbitron&family=Roboto:wght@700&display=swap');

  * {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.logo {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 50px 10px;
    color: white;
}
.logo-img {
 width: 65px;
}

ul, li {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    list-style: none;
    color: white;
}

.sidebar {
    position: sticky;
    top: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #a855f7;
    height: 100vh;
}

.nav-list {
    display: grid;
    gap: 15px;
    margin-left: 25px;
}

.nav-list img {
    width: 20px;
    filter: invert(1);
}

.top-bar {
    margin: 10px;
    margin-right: 50px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-bar input {
    flex: 1 1 0;
    margin-right: 100px
}

input {
    background-color: #f1e1fd;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.top-bar .search, .top-bar .alert {
    max-width: 20px;
}

.top-bar .profile-img {
    height: auto;
    max-width: 40px;
    flex-grow: 1;
    border-radius: 50%;
}

.bottom-bar {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding-bottom: 10px;
    box-shadow: 0 3px 4px -2px black;
}

.large-profile-img {
    align-self: center;
    justify-self: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-row: 1 / 3;
    border-radius: 50%;
    max-width: 60px;
}

.welcome {
    grid-column: 2 / 3;
    font-size: .8rem;
}

.username {
    grid-column: 2 / 3;
}

.username, .welcome, .top-bar, .nav-list, h1, .title, .handle {
    font-family: 'Roboto', sans-serif;
}

.button-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-right: 50px;
}

button {
    background-color: blueviolet;
    border: none;
    padding: 8px 16px;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.content {
    background-color: #e9d5ff;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    z-index: -1;
}

.left {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    grid-template-rows: 30px repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.left .desc {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
    font-size: 0.8rem;
}
h1 {
    grid-column: 1 / -1;
}

.card, .announcement-box, .trending-box{
border-radius: 10px;
background-color: white;
padding: 20px;
}

.card {
    border-left:solid 5px blueviolet;
}

.icon-bar {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

.icon-bar img {
    padding-bottom: 30px;
    max-width: 25px;
    max-height: auto;
}

.right {
    margin-left: 20px;
    display: grid;
    grid-template-rows: 30px 1fr 20px 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
}

.title {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.announcement-box {
    display: grid;
    gap: 5px;
    padding-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 30px 1fr 30px 1fr
}

.announcement-box p {
font-family: Arial, Helvetica, sans-serif;
font-size: 0.85rem;
padding-top: 10px;
}

.announcement-box .title {
    border-top: solid 1px rgb(0,0,0,0.25);
    padding-top: 10px;
}

.trending-box {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(8, 1fr);
    padding: 10px;
    align-items: center;
}

.trending-box img {
    max-width: 50px;
    border-radius: 50%;
    
}

.handle {
    padding: 5px;
    font-size: 20px;
    align-self: end;
}

.user1, .user2, .user3, .user4 {
    grid-column: 1 / 2;
}

.user1 {
    grid-row: 1 / 3;
}

#username1, #username2, #username3, #username4 {
    grid-column: 2 / 3;
}

.user2 {
    grid-row: 3 / 5;
}

#username2 {

}

.user3 {
    grid-row: 5 / 7;
}

#username3 {

}

.user4 {
    grid-row: 7 / 9;
}

#username4 {

}

.user-info {
    padding: 5px;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    align-self: start;
}